<div class="root">

  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!

    </h1>
    <div>
      <button (click)="getTasks()">Click me!</button>
      <p *ngFor = "let task of tasks">
        {{tasks.title}}
        <button (click)="getTask=task">SHOW </button>
        <!-- <button (click)=onbuttonClick(task._id)>SHOW </button> -->
      </p>
    </div>

  </div>

  <div *ngIf="getTask">
    <p>{{task.title}}</p>
    <p>{{task.description}}</p>

  </div>
</div>
<router-outlet></router-outlet>
